@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* font-family: 'Poppins', sans-serif; */

body {
    font-family: 'Poppins', sans-serif;
    font-variant-caps: small-caps;
    margin: 0;
    padding: 0;
    top: 0;
    height: 70vh;
    background-color: #18122B;
}

h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 60px;
    font-variant-caps: small-caps;
    color: #fff;
    margin: 0;
    height: 200px;
    align-items: center;
    text-shadow: 0px 0px 20px rgba(132, 124, 152, 0.744);
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


#morpion {
    border-radius: 10px;
    background-color: #443C68;
    box-shadow: rgba(78, 67, 137, 0.6) 0px 5px 15px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    height: 500px;
    width: 500px;
}

.case {
    border-radius: 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 15px;
    text-shadow: 0px 0px 15px rgba(169, 169, 169, 0.692);
    background-color: #18122B;
    transition: background-color 0.4s ease;
    color: #d4beffca;
    font-size: 100px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.case:hover {
    background-color: #443C68;
    transition: 0.4s;
}

.result {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    font-variant-caps: small-caps;
    color: #70C7C6;
    text-shadow: 0px 0px 15px rgba(81, 198, 204, 0.5);
}

.retry, .vsCpu {
    text-align: center;
    margin-top: 30px;
}

.retry button, .vsCpu button {
    font-variant-caps: small-caps;
    background-color: #18122B;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 24px;
    cursor: pointer;
    text-shadow: 0px 0px 10px rgba(81, 198, 204, 0.5);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 15px;
    transition: background-color 0.3s ease;
}

.retry button:hover, .vsCpu button:hover {
    background-color: #70c7c6;
}

.scoreboard {
    background-color: #443C68;
    color: #fff;
    border-radius: 10px;
    box-shadow: rgba(78, 67, 137, 0.6) 0px 5px 15px;
    padding: 10px;
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

h2 {
    font-size: 30px;
    margin: 0;
    text-shadow: 0px 0px 20px rgba(132, 124, 152, 0.744);
}

.scores {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.player1-score {
    display: flex;
    width: 80%;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 15px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #18122B;
    color: #fff;
    justify-content: space-between;
}

.player2-score {
    display: flex;
    width: 80%;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 15px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #18122B;
    color: #fff;
    justify-content: space-between;
}

h3 {
    font-size: 20px;
    text-shadow: 0px 0px 20px rgba(132, 124, 152, 0.744);
}

.options {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.options input[type="radio"] {
    display: none;
}

.croix-label {
    width: 55px;
    height: 55px;
    background-image: url('../img/cross-icon-remove.png');
    background-size: contain;
    cursor: pointer;
    transition: transform .3s;
}

.circle-label {
    width: 40px;
    height: 40px;
    background-image: url('../img/contour-de-cercle-de-petite-taille.png');
    background-size: contain;
    cursor: pointer;
    transition: transform .3s;
}

.croix-label:hover,
.circle-label:hover {
    transform: scale(1.5);
}

.croix-label-active {
    background-image: url('../img/croix-rouge.png');
}

.circle-label-active {
    background-image: url('../img/cercle-vert.png');
}

.options label {
    display: flex;
}